<br>
<div class="card-columns">
  <div class="card border-info mb-3" style="" *ngFor="let card of cards">
    <img class="card-img-top" src="{{card.LINK}}" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{card.title}}  </h2>
      <h3 class="card-text">{{card.addressLine1}}</h3>
      <h5 class="card-text">{{card.addressLine2}}</h5>
      <h5 class="card-text">{{card.addressLine3}}</h5>
      <h6 class="card-text">{{card.tele}}</h6>
    </div>
  </div>
</div>


<div class="card border-info mb-3" style="" *ngFor="let card of cards">
